<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- essentials -->
 <package id="git.install" />
 <package id="chrome" />
 <package id="vim" />
 <package id="emacs" />
 <package id="7zip" />
 <package id="putty" />
 <package id="executor" />
 <package id="winsplit" />
 <package id="resharper" version="5.1.3.1" />
 <package id="gnuwin" />
 <package id="Compass" />
 <package id="notepadplusplus.install" />
 <package id="kdiff3" />
 <package id="javaruntime" />
 <package id="dotpeek" />
 <package id="reflector" />
 <package id="python" />
 <package id="easy.install" />
 <package id="winscp" />
 <package id="php" />
 <package id="sysinternals" />
 <package id="NugetPackageExplorer" />
 <package id="mysql" />
 <package id="vlc" />
 <package id="dependencywalker" />
 <package id="skype" />

 <!-- Good to have -->
 <package id="ruby" />
 <package id="nodejs.install" />
 <package id="fiddler" />
 <package id="console2" />
 <package id="grepwin" />
 <package id="nodejs" />
 <package id="filezilla" />
 <package id="sublimetext2" />
 <package id="paint.net" />
 <package id="gimp" />
 <package id="windirstat" />
 <package id="curl" />
 <package id="ccleaner" />
 <package id="expresso" />
 <package id="virtualbox" />
 <package id="ilmerge" />
 <package id="virtualclonedrive" />
 <package id="sumatra.install" />
 <package id="ilspy" />
 <package id="mono" />
 <package id="P4Merge" />
 <package id="postgresql" />
 <package id="wireshark" />
 <package id="wincommandpaste" />
 <package id="PowerShell" />
 <package id="PowerGUI" />
 <package id="winmerge" />
 <package id="calibre" />
 <package id="beyondcompare" />
 <package id="libreoffice" />
 <package id="InkScape" />
 <package id="maven" />
 <package id="imgburn" />
 <package id="mp3tag" />
 <package id="monodevelop" />
 <package id="android-sdk" />
 <package id="apache2" />
 <package id="HxD" />
 <package id="snoop" />
 <package id="pandoc" />
 <package id="mysql.workbench" />
 <package id="mediacoder" />
 <package id="stexbar" />
 <package id="lockhunter" />
 <package id="lessmsi" />
 <package id="beyondcompare" />
 <!-- Nice to have -->
</packages>

